        </main>
    </div>

    <div id="toastContainer" class="fixed bottom-4 right-4 z-50"></div>

    <script src="/js/main.js"></script>
    <% if (typeof script !== 'undefined') { %>
        <%- script %>
    <% } %>
</body>
</html> 
